body {
  padding-left: 260px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0.85)) no-repeat, linear-gradient(90deg, #ff5c4d 0%, #eb469e 25%, #8441ef 72%, #3f67f9 100%) no-repeat;
  color: #21201F;
  font-family: "Yandex font";
  font-weight: 900;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #21201F;
  font-family: "Yandex font";
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
}

h1 {
  font-size: 72px;
  letter-spacing: -1.44px;
}

h2 {
  font-size: 56px;
  letter-spacing: -1.12px;
}

h3 {
  font-size: 48px;
  letter-spacing: -0.96px;
}

p {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

button {
  margin-top: 44px;
  padding: 24px 48px;
  border: 0px;
  border-radius: 36px;
  background: #FFDE40;
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
}

.block {
  min-height: 96vh;
  margin-bottom: 128px;
}

.block_1 {
  background: url(../Image/smkt0003\ 2.png) no-repeat 32vh 4vw, radial-gradient(ellipse 91vh 75vw at 73vh 27vw, rgba(143, 16, 198, 0.35) 6%, rgba(255, 255, 255, 0) 26%);
}
.block_1 img {
  margin-top: 125px;
}
.block_1 h1 {
  margin-top: 72px;
  max-width: 420px;
}
.block_1 p {
  margin-top: 48px;
  width: 430px;
  box-sizing: border-box;
  line-height: 130%;
}
.block_1 button {
  margin-top: 44px;
}
.block_1 .back_price {
  border-radius: 500px 500px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  padding: 8px 12px 8px 0;
}
.block_1 .price {
  display: table-caption;
  text-decoration: line-through;
  color: #808080;
  font-family: "Yandex font";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  padding-left: 12px;
}
.block_1 .sale_price {
  color: #2E2C21;
  font-family: "Yandex font";
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 500px;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  padding: 8px 12px;
}

.block_2 h2 {
  max-width: 630px;
  margin-bottom: 48px;
}
.block_2 img {
  width: 83px;
  height: 83px;
}
.block_2 .card_block {
  display: flex;
  flex-wrap: wrap;
}
.block_2 .card {
  width: 450px;
  height: 215px;
  margin: 0 112px 61px 0;
}

.block_3 h3 {
  max-width: 600px;
  margin-bottom: 48px;
}
.block_3 p {
  max-width: 442px;
  padding-bottom: 70px;
}
.block_3 .img_block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 145vh;
}
.block_3 .img_block div {
  width: 456px;
  height: 456px;
  border-radius: 60px;
  rotate: 2deg;
  margin: 0 30px 8px 0;
}
.block_3 .img_1 {
  background: url(../Image/01.png) no-repeat;
}
.block_3 .img_1 img {
  position: relative;
  top: -130px;
  left: -260px;
}
.block_3 .img_2 {
  background: url(../Image/06.png) no-repeat;
}
.block_3 .img_3 {
  background: url(../Image/02.png) no-repeat;
}
.block_3 .img_3 img {
  position: relative;
  top: -160px;
  left: 250px;
}
.block_3 .img_4 {
  background: url(../Image/05.png) no-repeat;
}
.block_3 .img_4 img {
  position: relative;
  top: 130px;
  left: 130px;
}

.block_4 {
  display: flex;
  flex-wrap: wrap;
}
.block_4 h3 {
  width: 420px;
}
.block_4 p {
  width: 420px;
  margin-top: 48px;
}
.block_4 .info_card_2 {
  min-width: 456px;
  min-height: 456px;
  background: url(../Image/Group\ 2087325536.png) no-repeat, radial-gradient(rgba(135, 53, 251, 0.35) 30%, rgba(255, 255, 255, 0) 70%);
}
.block_4 .info_card_3 {
  margin: 90px 150px 0 -95px;
  width: 400px;
  height: 400px;
  background: url(../Image/Group\ 2087325524.png) no-repeat, radial-gradient(rgba(135, 53, 251, 0.35) 0%, rgba(255, 255, 255, 0) 70%);
}
.block_4 .info_card_4 h3 {
  margin-top: 90px;
}
.block_4 .info_card_4 button {
  margin-top: 48px;
}

.footer {
  margin: 0 274px 128px 0;
  color: #C5C5C5;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
}/*# sourceMappingURL=style.css.map */